<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>-->
  </configSections>
  <appSettings>
    <add key="productsLoaded" value="16.09.2015 06:28"/>
    <add key="categoriesLoaded" value="1/3/2015 22:07"/>
    <add key="specificationLoaded" value="1/3/2015 22:07"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="infoEmail" value="milupinko@gmail.com"/>
    <add key="infoEmailPassword" value="slavicatamara"/>
    <add key="orderEmail" value="milupinko@gmail.com"/>
    <add key="orderEmailPassword" value="slavicatamara"/>
    <add key="companyName" value="Milupino"/>
    <add key="webShopUrl" value="http://www.milupino.rs"/>
    <add key="webShopLoginUrl" value="http://www.milupino.rs/prijava"/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpSsl" value="true"/>
    <add key="logoUrl" value="http://www.milupino.rs/images/milupino.png"/>
    <add key="errorEmail" value="milupinko@gmail.com"/>
    <add key="errorEmailPassword" value="slavicaramara"/>
    <add key="errorSmtp" value="smtp.gmail.com"/>
    <add key="errorSmtpPort" value="587"/>
    <add key="errorSmtpSsl" value="true"/>
    <add key="mainWidth" value="290"/>
    <add key="mainHeight" value="232"/>
    <add key="mainName" value="large"/>
    <add key="listWidth" value="160"/>
    <add key="listHeight" value="110"/>
    <add key="listName" value="home"/>
    <add key="thumbWidth" value="50"/>
    <add key="thumbHeight" value="40"/>
    <add key="thumbName" value="thumb"/>
    <add key="showIfNotInStock" value="true"/>
    <add key="webshopAdminUrl" value="webshopAdmin"/>
    <add key="productDescription" value="* Nastojimo da budemo što precizniji u opisu svih artikala, ali ne možemo da garantujemo da su svi opisi kompletni i bez grešaka."/>
    <add key="updateProductsFromExternalApplication" value="true"/>
    <add key="exportProducts" value="true"/>
    <add key="fillZeroCode" value="true" />
    <add key="fillZeroBarcode" value="true" />
    <add key="fullProductUrl" value="true"/>
    <add key="productInMultipleCategories" value="false"/>
    <add key="includeSubcategoriesInProductList" value="true"/>
    <add key="userDiscountVisible" value="true"/>
    <add key="deliveryCost" value="350"/>
    <add key="freeDeliveryTotalValue" value="10000"/>
    <add key="orderDiscountVisible" value="true"/>
    <add key="userDiscountOnlyOnProductNotOnPromotion" value="true"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=dallaswin200.arvixeshared.com;Database=milupino;User id=yuteam;Password=Salex1234" name="eshopConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        
    <customErrors mode="On" defaultRedirect="~/error.html">
        <error statusCode="403" redirect="~/error.html" />
        <error statusCode="404" redirect="~/not-found.aspx" />
    </customErrors>
        -->
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider" type="eshopBL.CustomMembershipProvider" connectionString="eshopConnectionString" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" PasswordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add name="CustomRoleProvider" type="CustomRoleProvider" connectionStringName="eshopConnectionString"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <!--<add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>-->
    </httpModules>
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/not-found.aspx"/>
    </customErrors>-->
    <globalization uiCulture="sr" culture="sr-Latn-CS" fileEncoding="utf-8"/>
    <httpRuntime executionTimeout="6000" requestValidationMode="2.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>-->
    </modules>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough">
      <remove statusCode="404"/>
      <error statusCode="404" path="~/not-found-aspx" responseMode="File"/>
    </httpErrors>
    <asp scriptErrorSentToBrowser="true"/>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <!--<rewriter>-->
    <!--<rewrite url="^~/proizvodi/(.+).html/?(.+)?" to="~/products.aspx?category=$1&amp;$2" processing="stop"></rewrite>
    <rewrite url="^~/proizvodi/(.+)/(.+)/?$" to="~/product.aspx?productID=$2" processing="stop"/>
    <rewrite url="^/o-nama/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/gde-kupiti/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/uputstvo-za-kupovinu/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/najcesca-pitanja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/nacini-placanja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/nacini-placanja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/povracaj-robe/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/rokovi-isporuke/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/pravni-subjekti/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/garancije-reklamacije-servis/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/kontakti-ovlascenih-servisera/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/lista-zelja/?$" to="~/wishList.aspx" processing="stop"></rewrite>
    <rewrite url="^/korpa/?$" to="~/cart.aspx" processing="stop"></rewrite>
    <rewrite url="^/zaposlenje/?$" to="~/customPage.aspx?url=$0" processing="stop"></rewrite>
    <rewrite url="^/kako-kupiti/?$" to="~/customPage.aspx?url=$0" processing="stop"></rewrite>
    <rewrite url="^/porucivanje/?$" to="~/checkout.aspx" processing="stop"></rewrite>
    <rewrite url="^/registracija/?$" to="~/registration.aspx" processing="stop"></rewrite>
    <rewrite url="^/prijava(.*)/?$" to="~/login.aspx" processing="stop"></rewrite>
    <rewrite url="^/resetovanje-sifre/?$" to="~/passwordResetRequest.aspx" processing="stop"></rewrite>
    <rewrite url="^/kreiranje-korisnicke-sifre(.+)/?$" to="~/passwordReset.aspx" processing="stop"></rewrite>
    <rewrite url="^/kontakt" to="~/kontakt.aspx" processing="stop"></rewrite>
    <rewrite url="^/moj-nalog" to="~/account.aspx" processing="stop"></rewrite>
    <rewrite url="^/izmena-sifre" to="~/passwordChange.aspx" processing="stop"></rewrite>
    <rewrite url="^/pretraga(.+)/?$" to="~/search.aspx" processing="stop"></rewrite>
    <rewrite url="^/uslovi-koriscenja/?$" to="~/customPage.aspx?url=$0" processing="stop"></rewrite>-->
  <!--</rewriter>-->
</configuration>